body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

h1{
    animation: animate 2s ease-in-out forwards;
}

@keyframes animate{
    0%{
        transform: translateY(-800px);
        color: #fff;
    }
    60%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
        color: pink;
    }
}
